<header class="site-header text-right" role="banner">
  <button type="button" id="menu-button" class="btn menu-button" onclick="openNav()">
    <!-- <img src="/assets/img/menu-icon.svg"/> -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
      x="0px" y="0px" width="44px" height="13px" viewBox="0 0 44 13" style="enable-background:new 0 0 44 13;" xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: none;
          stroke-width: 2;
          stroke-miterlimit: 10;
        }
      </style>
      <defs>
      </defs>
      <g id="menu-icon_1_">
        <line class="st0" x1="0" y1="1" x2="44" y2="1" />
        <line class="st0" x1="0" y1="12" x2="44" y2="12" />
      </g>
    </svg>
  </button>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home"><img src="/assets/img/dark-logo.svg" id="menu-logo" alt="Home"></a>
    <!-- <a href="#" class="menu-item">Buscar</a> -->
    <a href="/" class="menu-item">Introducción</a>
    <a href="/home" class="menu-item">Home</a>
    <a href="javascript:void(0)" id="episodes-dropdown" class="menu-item" onclick="toogleEpisodes()">Portafolio docente &#x25BC;</a>
    <ul id="episodes-dropdown-items">
      <li>
        <a href="/episodio-i">
          <div class="menu-item">Episodio I</div>
          <div class="menu-caption">LA AMENAZA DOCENTE</div>
        </a>
      </li>
      <li>
        <a href="/episodio-ii">
          <div class="menu-item">Episodio II</div>
          <div class="menu-caption">LA BATALLA DE LOS NOVELES</div>
        </a>
      </li>
      <li>
        <a href="/episodio-iii">
          <div class="menu-item">Episodio III</div>
          <div class="menu-caption">LA VENGANZA DE LOS ALUMNOS</div>
        </a>
      </li>
      <li>
        <a href="/episodio-iv">
          <div class="menu-item">Episodio IV</div>
          <div class="menu-caption">UN NUEVO PLAN DOCENTE</div>
        </a>
      </li>
      <li>
        <a href="/episodio-v">
          <div class="menu-item">Episodio V</div>
          <div class="menu-caption">EL COORDINADOR CONTRAATACA</div>
        </a>
      </li>
      <li>
        <a href="/episodio-vi">
          <div class="menu-item">Episodio VI</div>
          <div class="menu-caption">EL RETORNO DEL PROFESOR</div>
        </a>
      </li>
    </ul>
  </div>
  
</header>